extends layout
append body
    .container
        form.form-shorten(action="/", method="post", name="form")
            label.sr-only(for='inputBaseUrl') http://wfu.im
            input#inputBase.form-control(name='base', placeholder='http://wfu.im')
            label.sr-only(for='inputUrl') URL
            input#inputUrl.form-control(name='original', placeholder='Your original url here', required='', autofocus='')
            input#inputUrl.form-control(type='hidden', name='web', value='true')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') SHORTEN URL
        h3
            a(href=short)=short
        label.label-warning=error